<header>
    <%= link_to t('home'), root_path%>
    <%= link_to t('articles'), articles_path %>

  <% if user_signed_in? %>
    <div class="register">
    <%= current_user.email %>
    <%= link_to t('logout'), destroy_user_session_path, data: {
  turbo_method: :delete,
  turbo_confirm: t('confirm_logout')
} %>
    </div>
  <% else %>

    <div class="register">
    <%= link_to t('login'), users_path  %>
    <%= link_to t('register'), new_user_session_path %>
    </div>

  <% end %>

</header>
<%= javascript_include_tag "header" %>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
